html {
  background-color: #dbd6cf;
}

h1 {
  color: #79756f;
  font-family: 'Bevan', cursive;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1;
}

h2 {
  color: #79756f;
  font-family: 'Bevan', cursive;
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 1;
}


h3 {
  color: #79756f;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  font-family: 'Bevan', cursive;
}

}

a {
  color: #803837;
}

a:hover {
  color: #ff3333;
}

ol {
  list-style-type: none;
  padding: 0;
  line-height: 1.5

}

ul {
  list-style-type: circle;
  line-height: 1.5;
}

.list1 {
  list-style-type: lower-roman;
  font-family: Arial,sans-serif;

}

p {
  font-family: Arial,sans-serif;
  line-height: 1.5
}

blockquote {
  font-style: italic;
  font-size: 1.5rem
}

dl {
  font-family: Arial,sans-serif;
}

figcaption {
   font-family: Arial,sans-serif;
   font-style: italic;
   font-size: 12px;
 }

footer {
  text-align: right;
}
.quotemark {
  color: #79756f;
}

.celestial {
  color: #79756f;
}
.rounded {
  color: #79756f;
}
.ndt {
  color: #79756f;
}
